<h2 class="text-center">Entrar</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.input :email,
                autofocus: true,
                autocomplete: "email",
                placeholder: "Email",
                input_html: { class: 'form-control' } %>
  </div>

  <div class="field">
    <%= f.input :password,
                autocomplete: "current-password",
                placeholder: "Senha",
                input_html: { class: 'form-control' } %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.input :remember_me, as: :boolean, label: "Remembem_me" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.button :submit, "Log in", class:"btn btn-secondary btn-block"  %>
  </div>
<% end %>
<br/>
<%= render "devise/shared/links" %>
